
.w-form
{
    width: 300px;
}

.btn-rounded
{
    border-radius: 25px;
}

.btn-circle
{
    border-radius: 25px;
}

.alert
{
    border-radius: 0px !important;
}

.in-top
{
    z-index: 9999 !important;
}